body {
  padding: 0;
  margin: 0;
  background-image: url('images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/.header {
}
/* .overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
} */

.fixedHeight {
  height: 260px;
}

.noresize {
  resize: none;
}

.text-small {
  font-size: 75%;
}

.text-largejbb {
  font-size: 150%;
}

.hidden{
  visibility: hidden;
}

button {
  width: 158px;
  margin: 1px;
}
.timer {
  width: 1058px;
  margin: 1px;
}

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
  color: #f8f9fa;
  background-color: #343a40;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
  border-color: #6c757d;
}

.lined .nav-link.active {
  background: none;
  color: #fff;
  border-color: #6c757d;
  background-color: #6c757d;
}

.row {
  padding: 5px 5px 5px 5px;
  border: 1px solid #808080;
}

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }
