body {
  padding: 0;
  margin: 0;
}

button {
  width: 180px;
  margin: 1px;
  height: 30px;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

.challengebutton {
  width: 100px;
  margin: 1px;
  height: 40px;
}

.achievementbutton {
  width: 210px;
  margin: 1px;
  height: 50px;
}

.autobutton {
  width: 25px;
  margin: 1px;
  height: 30px;
}

.equipmentbutton {
  width: 25px;
  margin: 1px;
  height: 30px;
}

.sacbutton {
  width: 180px;
  margin: 1px;
  height: 30px;
}

.minebutton {
  width: 100px;
  margin: 1px;
  padding: 1px;
  height: 30px;
}

.autoamountbutton {
  width: 120px;
  margin: 1px;
  height: 30px;
}

.upgradebutton {
  width: 246px;
  margin: 1px;
  height: 90px;
}

.tierbutton {
  width: 30px;
  margin: 1px;
  height: 30px;
}

.towerbutton {
  width: 150px;
  margin: 1px;
  height: 60px;
  color: white;
}

.gainsboro {
  background-color: gainsboro;
  color: black
}

.salmon {
  background-color: salmon;
  color: white
}
.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.purple {
  background-color: purple;
  color: white;
}

.orange {
  background-color: orange;
  color: black;
}

.turquoise {
  background-color: turquoise;
  color: black;
}

.tomato {
  background-color: tomato;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.burleywood {
  background-color: burlywood;
  color: black;
}

.brown {
  background-color: brown;
  color: white;
}

.ivory {
  background-color: ivory;
  color: black;
}

.snow {
  background-color: snow;
  color: black
}

.hidden{
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.hiddenSpaceTaken{
  visibility: hidden;
}

.text-small {
  font-size: 90%;
}

.text-medium {
  font-size: 100%;
}

.text-xlarge {
  font-size: 200%;
}

.text-large {
  font-size: 150%;
}

.text-xsmall {
  font-size: 75%;
}

.prestigebutton {
  width: 220px;
  height: 75px;
}

.bottombutton {
  width: 250px;
  height: 30px;
}

.autobox {
  width: 100px;
}

.noscrollbars {
  overflow: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbars::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.noscrollbars {
    -ms-overflow-style: none;
}

.yellowbackground {
  background-color: yellow;
}

.fixedrowbottom {
  position:fixed;
  bottom:0;
  width:100%;
}

table {
  width: 100%;
}
