body {
  padding: 0;
  margin: 0;
  background-image: url('images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* .overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
} */

.fixedHeight {
  height: 260px;
}

.noresize {
  resize: none;
}

.text-small {
  font-size: 75%;
}

.text-largejbb {
  font-size: 150%;
}

.hidden{
  visibility: hidden;
}

button {
  width: 195px;
  margin: 1px;
}

.menubutton {
  width: 120px;
  margin: 1px;
}

.powerbutton {
  width: 65px;
  margin: 1px;
}

.fightbutton {
  width: 150px;
  margin: 1px;
}

.prestigebutton {
  width: 10px;
}

.timer {
  width: 120px;
  margin: 1px;
  display: inline-block;
}


nav > .nav.nav-tabs{

  border: none;
    color:#f8f9fa;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#f8f9fa;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #272e38 ;
}
.tab-content{
  background: #6c757d;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #6c757d;
    border-bottom:5px solid #6c757d;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #6c757d;
    color:#f8f9fa;
    border-radius:0;
    transition:background 0.20s linear;
}